<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>購入履歴</title>
	<link rel="stylesheet" href="/css/style.css?v=2">
</head>

<body>
	<header>
		<h1>購入履歴</h1>
	</header>
	<main>
		<!-- 購入履歴リスト -->
		<section class="section" id="history">
			<h2>購入履歴</h2>
			<small>直近50件くらいを想定</small>

			<table>
				<thead>
					<tr>
						<th>購入日</th>
						<th>品目名</th>
						<th>数量</th>
						<th>単位</th>
						<th>購入店舗</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<!--一覧表示（th each, th text）Tymeleafフォルダ参照-->
					<tr th:each="item : ${historyItems}">
						<td th:text="${item.purchaseDate}"></td>
						<td th:text="${item.name}"></td>
						<td th:text="${item.quantity}"></td>
						<td th:text="${item.unit}"></td>
						<td th:text="${item.shopName}"></td>
						<td>
							<!--再投入ボタン-->
							<form th:action="@{/readd/edit}" method="get">
								<input type="hidden" name="id" th:value="${item.id}">
								<button type="submit">再投入</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<nav class="actions">
				<a href="/">トップへ戻る</a>
				<a href="/list">買う物リストを見る</a>
			</nav>
		</section>
	</main>
</body>

</html>