<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>買うものリスト</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>買うものリスト（モック画面）</h1>
    <small>※今はただのHTML。あとでSpring Bootとつなぐ。</small>
</header>

<main>

    <!-- 現在の買い物リスト -->
    <section class="section" id="current-list">
        <h2>現在の買い物リスト</h2>

        <table>
            <thead>
            <tr>
                <th>品目名</th>
                <th>数量</th>
                <th>単位</th>
				<th>購入店舗</th>
                <th>メモ</th>
                <th>操作</th>
            </tr>
            </thead>
			<tbody>
			<tr th:each="item : ${items}">
			    <td th:text="${item.name}"></td>
			    <td th:text="${item.quantity}"></td>
			    <td th:text="${item.unit}"></td>
				<td th:text="${item.shopName}"></td>
			    <td th:text="${item.memo}"></td>
			    <td><button>削除</button></td>
			</tr>
			</tbody>

        </table>

        <div class="actions">
            <button>まとめて購入処理する</button>
        </div>
    </section>

</main>

</body>
</html>
