<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<title>買う物リスト</title>
	<link rel="stylesheet" href="/css/style.css?v=4.6">
</head>

<body>
	<header>
	    <h1>ShopMemo</h1>

	    <div class="user-info">
	        <span th:text="${username}"></span>

	        <form th:action="@{/logout}" method="post">
	            <button type="submit">ログアウト</button>
	        </form>
	    </div>
	</header>

	<main>
		
		<!-- 現在の買う物リスト -->
		<section class="section" id="current-list">
			<div class="list-heading">
			    <h2>現在の買う物リスト</h2>

			    <form th:if="${username == 'admin' and #lists.isEmpty(items)}"
			          th:action="@{/admin/restoreDemoData}"
			          method="post">
			        <button type="submit">デモデータを復元</button>
			    </form>
			</div>
			<form id="bulk-purchase-form"
			      th:action="@{/items/purchase/bulk}"
			      method="post">
			</form>
			
			<table>
				<thead>
					<tr>
						<th>選択</th>
						<th>品目名</th>
						<th>数量</th>
						<th>単位</th>
						<th>購入店舗</th>
						<th>メモ</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${items}">
						<td>
							<input type="checkbox"
								   name="ids" 
								   th:value="${item.id}" 
								   form="bulk-purchase-form">
						</td>
						<td class="item-name" 
							th:text="${item.name}"></td>
						<td>
							<form class="quantity-form">
								<input type="hidden" 
									name="id" 
									th:value="${item.id}">
								<button type="button" class="minus-button">−</button>
								<input class="quantity-input" 
									   type="number" 
									   name="quantity" 
									   th:value="${item.quantity}">
								<button type="button"class="plus-button">+</button>
							</form>
						</td>
						<td class="item-unit"
							th:text="${item.unit}"></td>
						<td class="item-shop" 
							th:text="${item.shopName}"></td>
						<!-- メモ小窓表示用ボタン -->
						<td>
							<button type="button"
									class="memo-button"
									th:if="${item.memo != null and !item.memo.isBlank()}" 
									th:attr="data-memo=${item.memo}">
								📝
							</button>
						</td>

						<td>
							<!-- 購入ボタン -->
							<form th:action="@{/items/purchase}" method="post">
								<input type="hidden" name="id" th:value="${item.id}">
								<button type="submit" class="purchase-button">🛒</button>
							</form>
							<!-- 削除ボタン -->
							<form th:action="@{/items/delete}" method="post">
								<input type="hidden" name="id" th:value="${item.id}">
								<button type="submit" class="delete-button">🗑</button>
							</form>
						</td>

					</tr>
				</tbody>

			</table>


			<div class="bulk-purchase-button">
				<button type="submit" form="bulk-purchase-form">
					まとめて購入処理する
				</button>
			</div>

			<!-- 新規追加フォーム -->
			<form class="actions" th:action="@{/items}" method="post">
			    <input type="text" name="name" placeholder="品目名">
			    <input type="number" name="quantity" placeholder="数量">
			    <input type="text" name="unit" placeholder="単位">
			    <input type="text" name="shopName" placeholder="購入店舗">
			    <input type="text" name="memo" placeholder="メモ">
			    <button type="submit">追加</button>
			</form>
			
			<nav class="actions">
				<a href="/history">購入履歴を見る</a>
			</nav>
		</section>

	</main>
	<!--メモ表示用モーダル-->
	<div id="memo-modal" class="modal hidden">
		<div class="modal-content">
			<p id="memo-text"></p>
			<button type="button" id="memo-close">閉じる</button>
		</div>
	</div>
	<!--モーダル表示処理用JavaScript-->
	<script>
		const memoButtons = document.querySelectorAll(".memo-button");
		const modal = document.getElementById("memo-modal");
		const memoText = document.getElementById("memo-text");
		const closeButton = document.getElementById("memo-close");

		memoButtons.forEach(button => {
			button.addEventListener("click", () => {
				memoText.textContent = button.dataset.memo;
				modal.classList.remove("hidden");
			});
		});

		closeButton.addEventListener("click", () => {
			modal.classList.add("hidden");
		});
	</script>
	
	<!--数量操作用JavaScript-->
	<script>
		const csrfToken =
		    document.querySelector('meta[name="_csrf"]').getAttribute("content");

		const csrfHeader =
		    document.querySelector('meta[name="_csrf_header"]').getAttribute("content");

			function updateQuantity(form, input) {
				
				// hiddenのid取得
			    const id = form.querySelector('input[name="id"]').value;
			
				// Controllerへの送信
			    fetch("/items/updateQuantity", {

			        method: "POST",

			        headers: {
			            "Content-Type": "application/x-www-form-urlencoded",
			            [csrfHeader]: csrfToken
			        },

			        body:
			            "id=" + encodeURIComponent(id) +
			            "&quantity=" + encodeURIComponent(input.value),

			    });
			}		
		// +ボタン操作用
		const plusButtons = document.querySelectorAll(".plus-button");

		plusButtons.forEach(button => {

		    button.addEventListener("click", () => {

		        const form = button.closest("form");
		        const input = form.querySelector(".quantity-input");

		        // 数量を+1
		        input.value = Number(input.value) + 1;

				updateQuantity(form, input);

		    });

		});
		// -ボタン操作用
		const minusButtons = document.querySelectorAll(".minus-button");

		minusButtons.forEach(button => {

			button.addEventListener("click", () => {

				const form = button.closest("form");

				const input = form.querySelector(".quantity-input");
				
				if (Number(input.value) > 0) {
				           input.value = Number(input.value) - 1;
				       }
				
				updateQuantity(form, input);

			});

		});
		// 数量直接操作
		const quantityInputs = document.querySelectorAll(".quantity-input");

		quantityInputs.forEach(input => {

		    input.addEventListener("change", () => {

		        const form = input.closest("form");

		        updateQuantity(form, input);

		    });

		});
	</script>





</body>

</html>