<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>再投入用編集画面</title>
    <link rel="stylesheet" href="/css/style.css?v=2">
</head>

<body>
    <header>
        <h1>再投入編集</h1>
    </header>

    <main>
        <section class="section">
            <h2>買うものリストへ再投入</h2>
			
			<!--再投入編集フォーム-->
            <form class="actions" th:action="@{/readd}" method="post">
                <input type="text" name="name" th:value="${historyItem.name}" placeholder="品目名">
                <input type="number" name="quantity" th:value="${historyItem.quantity}" placeholder="数量">
                <input type="text" name="unit" th:value="${historyItem.unit}" placeholder="単位">
                <input type="text" name="shopName" th:value="${historyItem.shopName}" placeholder="購入店舗">
                <input type="text" name="memo" placeholder="メモ">
                <button type="submit">買うものリストへ追加</button>
            </form>

            <nav class="actions">
                <a href="/history">購入履歴へ戻る</a>
                <a href="/list">買う物リストを見る</a>
            </nav>
        </section>
    </main>
</body>

</html>